 <!-- Banner -->
 {{ with .Params.banner }}
 <section class="section pt-14">
   <div class="container">
     <div class="grid grid-cols-12 gap-8 items-center">
       <div class="col-span-10 col-start-2 lg:col-span-8 lg:col-start-3 text-center lg:text-left">
         <h1 class="mb-4 text-h3 lg:text-h1">
           {{ .title | markdownify }}
         </h1>
         <p class="mb-8">
           {{ .content | markdownify }}
         </p>
         {{ with .button }}
           {{ if .enable }}
             <a
               class="btn btn-primary"
               href="{{ .link | absURL }}"
               {{ if strings.HasPrefix .link `http` }}
                 target="_blank" rel="noopener"
               {{ end }}>
               {{ .label }}
               <i class="fa fa-arrow-right pl-2"></i>
             </a>
           {{ end }}
         {{ end }}
       </div>
       <div class="col-span-10 col-start-2 lg:col-span-8 lg:col-start-3">
         {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
       </div>
     </div>
   </div>
 </section>
{{ end }}
<!-- /Banner -->